<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>WebProgramming</servlet-name>
		<servlet-class>webprogramming.WebProgrammingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Java2</servlet-name>
		<servlet-class>webprogramming.Java2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataSpbMainServlet</servlet-name>
		<servlet-class>webprogramming.dataspb.DataSpbMainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllDataServlet</servlet-name>
		<servlet-class>webprogramming.dataspb.AllDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Java3</servlet-name>
		<servlet-class>webprogramming.java3.Java3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Java3Comparsion</servlet-name>
		<servlet-class>webprogramming.java3.Comparsion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Java3QuadraticEquation</servlet-name>
		<servlet-class>webprogramming.java3.QuadraticEquation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Java3RandomArray1</servlet-name>
		<servlet-class>webprogramming.java3.RandomArray1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Java3RandomArray2</servlet-name>
		<servlet-class>webprogramming.java3.RandomArray2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormWithException</servlet-name>
		<servlet-class>webprogramming.exceptionexercise.FormWithException</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebProgramming</servlet-name>
		<url-pattern>/webprogramming</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Java2</servlet-name>
		<url-pattern>/java2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataSpbMainServlet</servlet-name>
		<url-pattern>/dataspbmainservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllDataServlet</servlet-name>
		<url-pattern>/alldataservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Java3</servlet-name>
		<url-pattern>/java3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Java3Comparsion</servlet-name>
		<url-pattern>/java3comparsion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Java3QuadraticEquation</servlet-name>
		<url-pattern>/java3quadraticequation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Java3RandomArray1</servlet-name>
		<url-pattern>/java3randomarray1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Java3RandomArray2</servlet-name>
		<url-pattern>/java3randomarray2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormWithException</servlet-name>
		<url-pattern>/formWithException</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
